<div class="row">
  <div class="col-12 col-sm-12">
    <a href="/">{{ site.domain }}</a>
    was maintained from 2025 by
    <a href="https://forlilab.org/">Forli Lab</a>.<br>
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-12">
    <div class="footer-links">
    <a href="https://paperswithcode.com/site/terms">Terms</a>
    <a href="https://paperswithcode.com/site/data-policy">Data Policy</a>
    <a href="https://paperswithcode.com/site/cookies-policy">Cookies policy</a>
  </div>
  </div>
</div>
